{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'his.css' %}">
    <title>Historique des Prédictions</title>
</head>

<div class="history-container">
    <h1>Historique des Prédictions</h1>
    {% if history %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Date et Heure</th>
                        <th>Nom de l'image</th>
                        <th>Type de sol prédit</th>
                        <th>Confiance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prediction in history %}
                        <tr>
                            <td>{{ prediction.timestamp|date:"d/m/Y H:i" }}</td>
                            <td>{{ prediction.image_name }}</td>
                            <td>{{ prediction.soil_type }}</td>
                            <td>{{ prediction.confidence|floatformat:2 }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucun historique de prédiction n'est disponible pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
